@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/CeraPro-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #46A358;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #46A358;
}

.btn:hover {
    background: #fff;
    color: #46A358;
}


.header {
    font-size: 0;
    padding: 5px;
    border-bottom: solid 1px #46A358;
}

.header .logo,
.header__nav,
.btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}

.header__nav-list {
    padding: 0;
    margin: 0;
}

.logo {
    width: 150px;
    height: 35px;
}

.header__nav {
    width: calc(100% - 250px);
}

.header__nav-list {
    text-align: center;
}

.header__nav-list li {
    display: inline-block;
    margin: 0 25px;
}

.header__nav-list a {
    text-decoration: none;
    color: #3D3D3D;
    padding-bottom: 30px;
}

.active a {
    font-weight: 700;
}

.active a,
.content-nav-list a:hover,
.header__nav-list a:hover {
    border-bottom: solid 3px #46A358;
    padding-bottom: 5px;
}

.banner {
    background: #f1efef;
    padding: 10px;
}

.cont_banner,
.f-image {
    display: inline-block;
    vertical-align: top;
}

.about {
    max-width: 570px;
    padding: 5px;
    margin-bottom: 50px;
}

.welcome {
    font-size: 15px;
    padding: 3px;
}

.planet {
    font-size: 70px;
    margin: 10px;
}

.f-image {
    max-width: 550px;
    padding: 10px;
    border: 3px;
}

.cont_banner {
    max-width: 600px;
    padding: 10px;
    vertical-align: top;
    margin-top: 40px;
}

.flowers {
    padding: 3px;
    margin: 3px;
    vertical-align: middle;
}

.planet span {
    color: green;
}


.logout img {
    vertical-align: middle;
}

.main {
    margin-top: 20px;
}

.main::after {
    content: '';
    clear: both;
    display: block;
}

.sidebar {
    background: #f1efef;
    padding: 10px;
    float: left;
    width: 230px;
}

.content {
    float: right;
    width: calc(100% - 260px);
}

.aside-flower {
    vertical-align: middle;
    max-width: 210px;
}


.short,
.content-nav {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}

.short img {
    display: inline-block;
    vertical-align: middle;
}

.content-nav-list a {
    text-decoration: none;
    color: #3D3D3D;
    padding-bottom: 5px;
}

.content-nav {
    display: inline-block;
}

.content-nav-list {
    display: inline-block;
    padding-inline-start: 0px;
}


.content-nav-list li {
    display: inline-block;
    margin: 0 25px;
}

.short {
    margin-left: 375px;
}

.sidebar-li a {
    text-decoration: none;
    color: #3D3D3D;
}

.sidebar-li li {
    margin-bottom: 10px;
}

.product {
    max-width: 270px;
    padding: 10px;
    margin: 10px;
}

.name-product,
.price-product {
    display: block;
    margin-bottom: 3px;
}

.price-product {
    color: #46A358;
}

.product-page {
    float: right;
}

.product-page-number {
    display: inline-block;
    max-width: 35px;
    max-height: 35px;
    padding: 10px 15px;
    text-decoration: none;
    color: #3D3D3D;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.product-page-number img {
    width: 15px;
}