@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-MediumItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

body {
    font-family: 'Cera Pro', sans-serif;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 1.7;
}


ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    border-bottom: solid 0.3px rgba(70, 163, 88, 0.5);
    padding-bottom: 10px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    color: #fff;
    background: #46A358;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #46A358;
    text-align: center;
    font-weight: 500;
}

.btn:hover {
    background: #fff;
    color: #46A358;
}


.header {
    font-size: 0;
    padding: 5px;
    margin-bottom: 10px;
}

.header .logo,
.header__nav,
.btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}

.header__nav-list {
    padding: 0;
    margin: 0;
}

.logo {
    width: 150px;
    height: 35px;
}

.header__nav {
    width: calc(100% - 242px);
}

.header__nav-list {
    text-align: center;
}

.header__nav-list li {
    display: inline-block;
    margin: 0 25px;
}

.header__nav-list a {
    text-decoration: none;
    color: #3D3D3D;
    padding-bottom: 30px;
}

.active a {
    font-weight: 700;
}

.active a,
.content-nav-list a:hover,
.header__nav-list a:hover {
    border-bottom: solid 3px #46A358;
    padding-bottom: 5px;
}

.banner {
    background: #FBFBFB;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 50px;
}

.cont_banner,
.f-image {
    display: inline-block;
    vertical-align: top;
}

.about {
    max-width: 570px;
    margin-bottom: 40px;
    color: #727272;
}

.welcome {
    font-size: 16px;
}

.planet {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    margin: 0;
}

.banner .btn {
    text-transform: uppercase;
    padding: 6px 10px;
    min-width: 140px;
    font-weight: 700;
}

.f-image {
    max-width: 550px;
    padding: 10px;
    border: 3px;
}

.cont_banner {
    max-width: 600px;
    padding: 10px;
    vertical-align: top;
    margin-top: 40px;
}

.flowers {
    padding: 3px;
    margin: 3px;
    vertical-align: middle;
}

.planet span {
    color: green;
}


.logout img {
    vertical-align: middle;
}

.sidebar {
    float: left;
    width: 310px;
    padding: 14px 18px;
    font-size: 15px;
    background-color: #FBFBFB;
}

.sidebar h4 {
    margin-top: 0;
    font-size: 18px;
}

.sidebar__categories {
    padding: 0 0 0 12px;
    margin: 0;
}

.sidebar__categories .active {
    color: #46A358;
    font-weight: 700;
}

.sidebar__categories li {
    margin-bottom: 20px;
}

.sidebar__categories a {
    text-decoration: none;
    color: inherit;
    border-bottom: inherit;
}

.sidebar__categories a:hover {
    color: #46A358;
}

.sidebar-img{
    text-align: center;
    margin-top: 200px;
}

.sidebar-img img {
    max-width: 275px;
}

.sidebar + .production{
    float: right;
    width: calc(100% - 310px);
    padding-left: 50px;
}

.goods-assort {
    margin-bottom: 20px;
}

.goods-assort__filter {
    padding: 0;
    margin: 0;
    float: left;
}

.goods-assort__filter li {
    display: inline-block;
    margin-right: 37px;
}

.goods-assort__filter li.active {
    font-weight: 700;
    color: #46A358;
}

.goods-assort__filter a:hover {
    color: #46A358;
}

.goods-assort__filter a {
    text-decoration: none;
    color: inherit;
}

.goods-assort__sorting {
    float: right;
}

.goods-assort__sorting__title,
.goods-assort__select {
    display: inline-block;
    vertical-align: middle;
}

.goods-assort__sorting__title {
    margin-right: 10px;
}

.goods-assort__option:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/arrow-down.svg);
    vertical-align: middle;
}

.goods__list {
    margin: 0 ;
    padding: 0;
}

.goods__item {
    width: 32%;
    display: inline-block;
    margin-bottom: 25px;
}

.goods_img {
    background: #FBFBFB;
    text-align: center;
}

.goods__item h5 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: #46A358;
}

.pages-site {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-bottom: 50px;
}

.pages-site li {
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}

.pages-site a {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding-top: 3px;
    text-decoration: none;
    color: inherit;
}

.pages-site li.active a,
.pages-site a:hover {
    background: #46A358;
    color: #fff;
}


.info_inner {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
    margin-bottom: 20px;
}


.info_item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    justify-content: flex-end;
    background-color: #FBFBFB;
    padding: 10px 20px;
}

.info_image {
    margin-top: -50px;
    left: 0;
}

.info_item_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 60%;
    text-align: right;
    justify-content: center;
}

.info_tittle {
    max-width: 150px;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.info_text {
    margin: 0 0 15px 0;
    font-size: 14px;
    color: #727272;
    max-width: 300px;
}

.info_text p {
    margin: 0;
}

.info_item a {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.blog {
    font-size: 14px;
    color: #727272;
}

.blog_inner {
    text-align: center;
}

.blog_tittle {
    font-size: 30px;
    font-weight: 700;
    color: #3d3d3d;
    margin: 0;
}

.body_blog_image {
    line-height: 0;
}

.blog_text {
    margin: 0 0 35px;
}


.blog_body {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
}

.body-blog_box {
    padding: 14px 20px;
    background-color: #fbfbfb;
    text-align: left;
}

.body-blog_time {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #46a358;
    display: flex;
    gap: 0 8px;
    margin: 0;
}

.body_blog_item {
   max-width: 25%;
}

.body-blog_tittle {
    max-width: 210px;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #3d3d3d;
}

.body-blog_text {
    line-height: 20px;
    max-width: 224px;
}

.body-blog_link {
    font-weight: 600;
    font-size: 14px;
    color: #3d3d3d;
    text-decoration: none;
}

.body-blog_box a:hover {
    color: #46A358;
}

.body-blog-link a span {
    display: inline-flex;
    align-items: center;
}